
/////////// color //////
$mainColor: #fff5cc;
$accentColor: #ffd255;
$dark: black;
$light:white;


////// break Points ///
$mobileXS-min: 320px;
$mobile-min: 480px;
$mobile-max: 576px;
$tablet-min: 768px;
$desktop-min: 992px;
$desktop-md: 1024px;
$wideScreen-min: 1200px;
$wideScreen-xl: 1440px;
$wideScreen-max: 1800px;

////// font /////////
$mainFont: 'Rubik', sans-serif;
